.Post {
    height: 500px;
    width: 500px;
    background-color:beige;
    margin-top: 60px;
    position: absolute;
    left: 35%;
    overflow: hidden;
}

.PostTop {
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 1px solid black;
    height: 35px;
    padding: 0;
    margin: 0;
}

.PostImage {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.custom-hr {
    background-color:black;
    color: black;
    height: 0.9px;
}

.PostName {
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    cursor: pointer;
}

.PostTopRight {
    padding-right: 10px;
    cursor: pointer;
}

.PostTopLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.PostFeedImage {
    height: 430px;
    width: 100%;
}
.PostCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.likecommentshare {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}

.like {
    display: flex;
    align-items: center; 
    cursor: pointer;
    padding-left: 5px;
}

.like:hover {
    color: blue;
}

.likeTitle {
    padding-left: 3px;
    font-size: 17px;
    padding-right: 5px;
}